<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <param name="robot_description" textfile="$(find prius_description)/urdf/prius.urdf"/>

    <!-- VISUALIZATION -->
    <!--
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find locosigns_simulator)/rviz/viz.rviz" />
    -->
    <!-- ERROR -->
    <node pkg="locosigns_simulator" type="sim_error_node.py" name="sim_error_node"/>
</launch>