<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <!-- GAZEBO -->
    <include file="$(find locosigns_simulator)/launch/gazebo_link.launch"/>
    
    <!-- SIMULATION -->
    <include file="$(find locosigns_simulator)/launch/sensors_sim.launch"/>
    
    <!-- FILTER -->
    <include file="$(find locosigns_simulator)/launch/filter.launch"/>

    <!-- DEBUG -->
    <include file="$(find locosigns_simulator)/launch/debug.launch"/>
</launch>
