<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find prius_control)/config/prius_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/prius" args="joint_base_link_connection joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/prius/joint_states" />
  </node>

</launch>